{% extends 'admin.twig' %}

{% set title %}{{ 'API_ReportingApiReference'|translate }}{% endset %}

{% block topcontrols %}
    {% include "@CoreHome/_siteSelectHeader.twig" %}
    {% include "@CoreHome/_periodSelect.twig" %}
{% endblock %}

{% block content %}

<div class="api-list">
    <div piwik-content-block content-title="{{ title }}" rate="true">
        <p>{{ 'API_PluginDescription'|translate }}</p>

        <p>
            {{ 'API_MoreInformation'|translate("<a target='_blank' rel='noreferrer noopener' href='https://matomo.org/docs/analytics-api'>","</a>","<a target='_blank' rel='noreferrer' href='https://matomo.org/docs/analytics-api/reference'>","</a>")|raw }}
        </p>
    </div>
    <div piwik-content-block content-title="{{ 'API_UserAuthentication'|translate|e('html_attr') }}">
        <div ng-controller="ListAllApiController as listAllApi">
            <p>
                {{ 'API_UsingTokenAuth'|translate('','',"")|raw }}<br/>
                <pre piwik-select-on-focus id='token_auth'>&amp;token_auth=<strong piwik-show-sensitive-data="{{ maskedTokenAuth }}" data-click-element-selector="#token_auth" on-show-data="listAllApi.onShowTokenAuth()"></strong></pre><br/>
                {{ 'API_KeepTokenSecret'|translate('<b>','</b>')|raw }}<br />
                {{ 'API_ChangeTokenHint'|translate('<a href="' ~ linkTo({
                    'module': 'UsersManager',
                    'action': 'userSettings',
                }) ~ '">', '</a>')|raw }}
            </p>

            <div class="modal" id="confirmPasswordForTokenAuth">
                <div class="modal-content">
                    <h2>{{ 'UsersManager_EnterPasswordFirst'|translate }}</h2>

                    <div piwik-field uicontrol="password" name="currentPasswordTokenAuth" autocomplete="off"
                         ng-model="listAllApi.passwordCurrentForTokenAuth"
                         full-width="true"
                         title="{{ 'UsersManager_YourCurrentPassword'|translate|e('html_attr') }}"
                         value="">
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0)" class="modal-action btn" ng-click="listAllApi.getMyTokenAuth()">{{ 'General_Ok'|translate }}</a>
                    <a href="javascript:void(0)" class="modal-action modal-close modal-no" ng-click="listAllApi.showTokenAuthDeferred.reject()">{{ 'General_Cancel'|translate }}</a>
                </div>
            </div>
        </div>
    </div>
    {{ list_api_methods_with_links|raw }}
    <br/>
</div>
{% endblock %}
